.vegetable
  %h1 Organic Store
  %h3 Vegetarian shop with organic food
  %button "SEARCH OUR STORE"

.new_products
  %h1 New Products


  %nav
    %ul.nav.navbar-nav.navbar
      %li
        %a{:href => "#"} ALL PRODUCTS
      %li
        %a{:href => "#"} FRUİTS
      %li
        %a{:href => "#"} VEGETABLES
      %li
        %a{:href => "#"} OTHER



  .row
    .col-sm-4
      %div
    .col-sm-4
      %div
    .col-sm-4
      %div






.fresh_products
  %h1 Fresh products with certification
  %h3 We offer the highest quality organic products